name: Python Calculator Unit Test
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Requirements
        run: pip install -r requirements.txt

      - name: Run Unit Tests
        run: python -m unittest test_calculator.py

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Application
        run: echo "Deploying application..."